package views

import (
    "strings"
)

func StringifyOrgs(orgs []string) string {
    return strings.Join(orgs, ", ")
}

templ HomeContent(orgs []string) {
	<div>Here are your orgs: { StringifyOrgs(orgs) }!</div>
}

templ Home(orgs []string) {
	@Base() {
		@HomeContent(orgs)
	}
}
