package views

templ IndexContent(authenticated bool, orgs []string, patches []string) {
	<div style="display: flex; align-items: center; justify-content: center; margin-top: 10em;">
	if !authenticated {
		<a data-testid="auth" href="/github/login">Authorize the OAuth app for your orgs!</a>
	} else {
		@DryRunForm(orgs, patches)
	}
	</div>
}

templ Index(authenticated bool, orgs []string, patches []string) {
	@Base() {
		@IndexContent(authenticated, orgs, patches)
	}
}
