package views

templ StatusForm(org string, patch string) {
    <form hx-post="/status" hx-swap="outerHTML" style="display: flex; flex-direction: column">
        <input type="hidden" name="org" value={ org }>
        <input type="hidden" name="patch" value={ patch }>
        <button type="submit">
            create tracking issue
            <img class="htmx-indicator" src="/static/img/bars.svg"/>
        </button>
    </form>
}
